     h1 {
                color:blue
            }
            p{
                color: #bd4141;
                font-size: 20px;
            }
            a{
                color: blueviolet;
                text-decoration: none;
            }